<% if session[:username] %>

	<div class="logged-in">
		<p>You are logged in as <%= session[:username] %></p>
		<p><%= link_to("logout", :controller=>'users', :action=>'logout')%></p>
	</div>
	
<% else %>

	<%= form_tag(:controller => 'users', :action => 'attempt_login') do %>

<div class="login">
	<h5>Login</h5>
	<table class="User login fields">
		<tr>
		    <td><%= label_tag(:username) %></td>
		    <td><%= text_field_tag(:username) %></td>
		</tr>
	  	<tr>
			<td><%= label_tag(:password) %></td>
		    <td><%= password_field_tag(:password) %></td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td><%= submit_tag("Log In") %></td>
		</tr>
	</table>
	<div class="sign-up">
		<%= link_to("Need a username?", :controller=>'users', :action=>'new', :class=>'user sign-up')%>
	</div>
</div>
	<% end %>

<% end %>