<div id="nav">
	<h1>
		<span class="title_part_1">orange</span><span class="title_part_2">walrus</span>
	</h1>
	<ul class="menu">
		<li><%= link_to("Home", {:controller=> :static_pages, :action=> :index}, :class => 'home') %></li>
		<li><%= link_to("View Activities", {:controller => :activities, :action => 'list'}, :class => 'activities list') %></li>
		<li><%= link_to("Create Activity", {:controller => :activities, :action => 'new'}, :class => 'activities new') %></li>
		<% if session[:user_id]%>
		<li><%= link_to("Logout", {:controller => :users, :action => 'logout'}, :class => 'users logout') %></li>
		<% else %>
		<li><%= link_to("Login", {:controller => :users, :action => 'login'}, :class => 'users login') %></li>
		<% end %>
	</ul>

	
	<h2 class="location">
		<% if session[:user_id] %>
			Logged in as '<%= session[:username] %>'
		<% else %>
			You are not logged in.
		<% end %>
	</h2>
</div>