<table summary="Activity form fields">
  <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label :organization %></th>
    <td><%= f.text_field(:organization) %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area(:description) %></td>
  </tr>
  <tr>
    <th><%= f.label :how_to_sign_up, "How do I sign up?" %></th>
    <td><%= f.text_area(:how_to_sign_up) %></td>
  </tr>
</table>
