<% @page_title = "Activities List" %>

<div class="activity list">
  <h2>Activities</h2>
  
  <%= link_to("Add New Activity", new_activity_path, :class => 'action new') %>

  <div><%= pluralize(@activities.size, 'activity') %> found</div>
  
  <table class="listing" summary="activity list">
    <tr class="header">
      <th>Activity</th>
      <th>Organization</th>
      <th>Actions</th>
    </tr>
    <% @activities.each do |activity| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= activity.name %></td>
      <td class="center"><%= activity.organization %></td>
      <td class="actions">
        <%= link_to("More Info", activity, :class => 'action show') %>
        <%= link_to("Edit", edit_activity_path(activity), :class => 'action show') %>
        <%= link_to("Delete", activity, :method => :delete, :confirm => 'Are you sure?', :class => 'action show') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
