<%= l.hidden_field :id %>
<table summary="Location form fields">
  <tr>
    <th><%= l.label :address %></th>
    <td><%= l.text_field(:address) %></td>
  </tr>
  <tr>
    <th><%= l.label :city %></th>
    <td><%= l.text_field(:city) %></td>
  </tr>
  <tr>
    <th><%= l.label :note %></th>
    <td><%= l.text_area(:note) %></td>
  </tr>
</table>
